<form>

<input [(ngModel)]="currentWordQuery" name="tbQuery"/>
<button (click)="getDmSynonyms()">Get Synonyms</button>

</form>

<div class="halfDiv">
  <!--
<span *ngFor="let x of synonymsToShow"   (click)="getDmRhymes(x)"
[ngClass]="{'hilite':x===currentRhymeQuery}">{{x}} </span>
-->
<app-sinonimo *ngFor="let x of synonymsToShow" [src]="currentRhymeQuery" [syn]="x" ></app-sinonimo>

</div>
<hr/>
<div>
  <span *ngFor="let x of syllCounts"   (click)="showRhymesBySyllable(x)"
  [ngClass]="{'hilite':x===currentSyllableCount}">{{x}} </span>

</div>

<div class="rhymes">

  <span *ngFor="let x of rhymesToShow" >{{x}} </span>

</div>